{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Produit</h1>

    <table class="record_properties">
        <tbody>

        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ entity.prix }}</td>
        </tr>
        <tr>
            <th>Disponible</th>
            <td>{{ entity.disponible }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">

        <li>
            <a class="btn btn-success" href="{{ path('adminProduits_edit', { 'id': entity.id }) }}">
                Edite
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
        <li>
            <a class="btn btn-danger" href="{{ path('adminProduits') }}">
                Retour
            </a>
        </li>
    </ul>
{% endblock %}
